@import './variables';

// Navbar
.navbar {
    padding: 0 1rem;
    margin: 1rem 0;

    &-brand {
        font-size: 2rem;
        margin: 0 1rem;
    }

    .nav-item {
        padding: 0 0.6rem;
    }
}

// Card 
.card {
    padding: 1rem;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: transparent;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: 0;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .125);

    &-header {
        background-color: $secondary;
    }

    a {
        text-decoration: none;
    }

    &-meta {
        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        margin-bottom: 0.6rem;
    }

    &-img {
        border-radius: 0;

        &:hover {
            box-shadow: 0 18px 32px -18px #000;
            transform: translateY(-6px);
            transition: all .2s ease-in-out;
        }

        transform: translateY(0px);
        transition: all .2s ease-in-out;
    }
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.sidebar-sticky {
    position: sticky;
    top: 0;
}

// NewsLetter
.site-newsletter {
    background: #f2f4f5;
    margin-top: 3rem;
    padding-bottom: 5rem;
    padding-top: 5rem;

    button {
        border-radius: 0;
        text-transform: capitalize;
        color: $secondary;
        background-color: #6c757d;

        &:hover,
        :focus {
            background-color: #5c636a;
            border-color: #565e64;
            color: #fff;
        }
    }
}

// instagram
.site-instagram {
    overflow: hidden;
    position: relative;
    text-align: center;

    .action {
        height: 0;
        margin: -12px auto 0;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
        z-index: 99;

        a {
            border-radius: 0;
            background-color: #f5f6f7;
            border-color: #f3f5f6;
            color: #000;
        }
    }

    .photo {
        display: block;
        position: relative;
        transition: all .25s ease-in-out;
        width: 100%;

        &:hover {
            transform: scale(1.05);
        }
    }
}

// Footer {
.site-footer {
    background-color: #000;
    display: block;

    .container {
        .nav {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin-bottom: 0;
            padding-left: 0;

            &-link {
                border-right: 1px solid #495057;
                color: #555d65;
                margin-bottom: 20px;
                margin-top: 20px;
                padding-bottom: 2px;
                padding-top: 2px;
                text-transform: uppercase;

                &:hover {
                    outline: 2px solid white
                }
            }

            hr {
                height: 2px;
                color: #555d65;
            }
        }
    }

    .copy {
        border-top: 1px solid #212529;
        color: #555d65;
        font-size: 90%;
        margin: 0 auto;
        max-width: 800px;
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
        text-transform: uppercase;
    }
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

// Signup
.form {
    margin: 4rem auto;
    width: 50%;

    button {
        margin: 0.5rem auto;
    }

    &-group {
        margin: 1rem auto;
    }

    &-title {
        font-size: 3rem;
    }

    &-blog {
        width: 100%;
    }
}

// Blogitem
.deletebtn {
    width: 30%;
    margin-bottom: 1rem;
}

// My blogs
.myblog {
    &-title {
        font-size: 3rem;
    }
}

.singleblog {
    &-text {
        color: #575757;
        font-size: 22px;
        line-height: 160%;
    }

    i {
        cursor: pointer;
        font-size: 24px;
        color: #aaa;
        transition: all 0.3s ease;
    }

    .liked {
        color: #333;
        transform: scale(1.2);
    }

    .blogImage {
        width: 50%;
    }
}

// profile dropdown

.profile--form {
    overflow-x: auto;
}

.profile-picture {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.user-details {
    margin-bottom: 8px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.user-details p {
    margin: 0;
}

// Contact Form
.contact-form {
    margin: 2rem auto;

    .btn {
        width: 20%;
    }
}

// react loader
.loader-container {
    width: 100%;
    height: 100vh;
    // justify-content: center;
    position: fixed;
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: $primary transparent $primary transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// search bar
.searchbar {
    margin-left: 1rem;
}